<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>BST</title>
    </head>
    <body>
        <section id="items">
            <label class="header">For Sale</label>
            {% if image is not none -%}
            <br><img src="{{ image }}"><br>
            {%- endif %}
            <br><br>
            Shipping: $<div id="shipping" style="display:inline">{{ shipping }}</div>
            <ul>
            {% for item in items %}
                <input value="{{ item.value }}" type="checkbox" class="cart">${{ item.value }}
                {% if "image" is in item -%}
                <a href="{{ item.image }}"><label class="checkbox">{{ item.name }}</label></a><br>
                {%- else -%}
                <label class="checkbox">{{ item.name }}</label><br>
                {%- endif %}
            {% endfor %}
            </ul>
            <section id="bill">
            Your total with PayPal fee (total*1.029 + 0.30) factored in is $<span id="total">0</span>
            </section>
        </section>
    <script src="/bst/calc.js"></script>
    </body>
</html>
